<script type="text/template" id="app-template">
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon-play-circle"></span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" class="active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New deployment <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><router-link :to="{ name: 'deploy-by-pullrequest' }">Pull request</router-link></li>
                                <li><a href="#project">Project</a></li>
                            </ul>
                        </li>
                        <li><a href="#about">In progress</a></li>
                    </ul>
                    <user-details v-on:login="authenticate" v-on:logout="clearAuth">
                    </user-details>
                </div>

            </div>

        </nav>
        <div class="container" id="container">
            <transition name="fade">
                <p v-if="authenticating">Processing...</p>
                <router-view v-if="authenticated"></router-view>
            </transition>
        </div>
    </div>
</script>

<script type="text/javascript">
    window.GithubClient = {
        app: {
            clientId: "{{ github.client_id }}",
            scope: "repo"
        },
        url: {
            site: "{{ github.site }}",
            api: "{{ github.api }}",
            authProxy: "{{ path('auth') }}"
        }
    };
</script>

{% include '@App/component/user-details.html.twig' %}
{% include '@App/component/deploy-pullrequest.html.twig' %}
{% include '@App/component/github-issues.html.twig' %}
