<html>
    <head>
        <title>Goprod, deployment manager</title>
    </head>
    <body>
        <div id="app">
        </div>
        {% include '@App/app.html.twig' %}
        {% include '@App/component/user-details.html.twig' %}
        <script type="text/javascript" src="/js/build.js"></script>
    </body>
</html>
