<script type="text/template" id="deploy-create-template">
<div>
    <div class="page-header">
        <h1>Let's go prod! <small>You're about to create a new deployment</small></h1>
    </div>
    <template v-if="!loading">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    New deployment
                </h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger" role="alert" v-if="this.errors.global && this.errors.global.length > 0">
                    <p v-for="error in this.errors.global">{{ error }}</p>
                </div>
                <github-pullrequest v-bind:pullrequest="pullrequest"></github-pullrequest>
                <template v-if="!pullrequest || (pullrequest.mergeable || pullrequest.merged)">
                    <div class="form-group">
                        <label for="repositoryName">Repository</label>
                        <input class="form-control" id="repositoryName" v-model="repositoryName" disabled="disabled">
                    </div>

                    <div class="form-group" v-bind:class="{'has-error':this.errors.fields.description}">
                        <label for="description">Description</label>
                        <input class="form-control" id="description" placeholder="Explain in a few words what you're about to deploy" v-model="deploy.description">
                        <span id="helpBlock" class="help-block" v-if="this.errors.fields.description">
                            {{ this.errors.fields.description }}
                        </span>
                    </div>
                </template>
                <div class="pull-right">
                    <template v-if="!pullrequest || (pullrequest.mergeable || pullrequest.merged)">
                        <button type="button" class="btn btn-primary" v-on:click="create">New deployment</button>
                    </template>
                </div>
            </div>
        </div>
    </template>
    <loading-spinner v-else class="medium"></loading-spinner>
</div>
</script>
