<script type="text/template" id="deploy-process-template">
    <div>
        <div class="page-header">
            <h1>
                Deployment
                <small>in progress</small>
            </h1>
        </div>
        <template v-if="!loading">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" v-on:click="cancel(false)" class="btn btn-xs btn-danger pull-right" v-if="cancelButton">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <h3 class="panel-title">
                        {{ deploy.description }}
                    </h3>
                </div>
                <div class="panel-body">
                    <github-pullrequest
                        v-if="deploy.status == 'merge'"
                        v-bind:pullrequest="pullrequest"
                    ></github-pullrequest>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" v-if="actionButton">
                            {{ actionLabel }}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </template>
        <loading-spinner class="medium" v-else></loading-spinner>
        <div class="modal fade confirm-dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Confirm deployment cancelling</h4>
                    </div>
                    <div class="modal-body">
                        <deploy v-bind:deploy="deploy"></deploy>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" v-on:click="cancel(true)" class="btn btn-danger">Cancel deployment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
