<script type="text/template" id="user-details-template">
    <div class="user-details">
        <ul class="nav navbar-nav navbar-right" v-if="authenticated">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle user-infos" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img :src="user.avatar_url" alt="avatar" />
                        [[ user.name ]]
                        <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" v-on:click="logout">Logout</a></li>
                </ul>
            </li>
        </ul>
        <button v-else type="button" class="navbar-right btn btn-default navbar-btn" v-on:click="login">Login</button>
    </div>
</script>

