<script type="text/template" id="user-deploys-template">
<div>
    <div class="page-header">
        <h1>My deployments <small>in progress</small></h1>
    </div>
    <p v-if="deploys.length == 0">
        You have no active deployment. You can create a new one
        <router-link :to="{ name: 'deploy-by-pullrequest' }">by pullrequest</router-link> or
        <router-link :to="{ name: 'deploy-by-project' }">by project</router-link>.
    </p>
    <div class="panel panel-default" v-else>
        <div class="list-group">
            <deploy
                v-for="deploy in deploys"
                v-bind:deploy="deploy"
                class="list-group-item"
                v-on:click="goToDeploy(deploy)"
            >
            </deploy>
        </div>
    </div>
</div>
</script>
