<script type="text/template" id="deploy-create-template">
<div>
    <div class="page-header">
        <h1>Let's go prod! <small>You're about to create a new deployment</small></h1>
    </div>
</div>
</script>
