{% extends "ApiMockBundle::layout.html.twig" %}
{% block page_title %}Github oauth mock{% endblock %}
{% block title %}Github oauth mock{% endblock %}
{% block body %}
<h2>Select user to login with:</h2>
<ul>
    {% for user in users %}
        <li>
            <a href="{{ path('index') }}?code={{ user.oauth_code }}">
                <img src="{{ user.avatar_url }}" />
                {{ user.name }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
