#container {
    margin-top: 51px;
    position: relative;
}

.tab-content {
    padding-top: 20px;
}

.navbar-inverse .navbar-brand {
    color:#19C9FF;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    padding-right: 30px;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
    position: absolute;
    width: 100%;
    padding-right: 30px;
}

