.github-issue {
    font-size: 16px;
    font-weight: bold;
    color: #767676;
    .label {
        border-radius: 3px;
        padding: 2px 4px;
        color:#000;
        font-size:12px;
        margin-right: 10px;
    }
    .title {
        color:#333;
    }
    .infos {
        font-size: 12px;
    }
    .icon-issue {
        margin: 5px 10px 30px 0;
        fill: currentColor;
    }
    p {
        margin-bottom: 5px;
    }
    .issue-open {
        color:#6cc644;
    }
    .issue-closed {
        color: #bd2c00;
    }
    .icon-pull.issue-closed {
        color: #6e5494;
    }
}
