<script type="text/template" id="github-issues-template">
<div class="github-issues">
    <div class="row form-group">
        <div class="btn-group col-md-5">
            <label class="btn btn-default" v-bind:class="{active:iam=='author'}">
                <input type="radio" value="author" v-model="iam" name="iam"> Created
            </label>
            <label class="btn btn-default" v-bind:class="{active:iam=='assignee'}">
                <input type="radio" value="assignee" v-model="iam" name="iam"> Assigned
            </label>
            <label class="btn btn-default" v-bind:class="{active:iam=='mentions'}">
                <input type="radio" value="mentions" v-model="iam" name="iam"> Mentioned
            </label>
        </div>
        <div class="col-md-7">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <input type="text" class="form-control" id="query" v-model="query" v-on:keyup.enter="update" />
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group btn-group-sm">
                <label class="btn btn-default" v-bind:class="{active:open}">
                    <input type="radio" name="open" v-model="open" v-bind:value="true">
                    <span class="glyphicon glyphicon-ok"></span> Open
                </label>
                <label class="btn btn-default"  v-bind:class="{active:!open}">
                    <input type="radio" name="open" v-model="open" v-bind:value="false">
                    <span class="glyphicon glyphicon-remove"></span> Closed
                </label>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Sort <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" v-on:click="setSort('created', 'desc')">Newest</a></li>
                    <li><a href="#" v-on:click="setSort('created', 'asc')">Oldest</a></li>
                    <li><a href="#" v-on:click="setSort('comments', 'desc')">Most commented</a></li>
                    <li><a href="#" v-on:click="setSort('comments', 'asc')">Least commented</a></li>
                    <li><a href="#" v-on:click="setSort('updated', 'desc')">Recently updated</a></li>
                    <li><a href="#" v-on:click="setSort('updated', 'asc')">Least recently updated</a></li>
                </ul>
            </div>
        </div>
        <div class="list-group">
            <a v-for="issue in issues" href="#" class="list-group-item issue">
                <svg
                    aria-hidden="true"
                    height="16"
                    version="1.1"
                    viewBox="0 0 12 16"
                    width="12"
                    class="icon-issue icon-pull pull-left"
                    v-if="issue.pull_request"
                    v-bind:class="{'issue-open': issue.state == 'open', 'issue-closed': issue.state == 'closed' }"
                >
                    <path d="M11 11.28V5c-.03-.78-.34-1.47-.94-2.06C9.46 2.35 8.78 2.03 8 2H7V0L4 3l3 3V4h1c.27.02.48.11.69.31.21.2.3.42.31.69v6.28A1.993 1.993 0 0 0 10 15a1.993 1.993 0 0 0 1-3.72zm-1 2.92c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zM4 3c0-1.11-.89-2-2-2a1.993 1.993 0 0 0-1 3.72v6.56A1.993 1.993 0 0 0 2 15a1.993 1.993 0 0 0 1-3.72V4.72c.59-.34 1-.98 1-1.72zm-.8 10c0 .66-.55 1.2-1.2 1.2-.65 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path>
                </svg>
                <svg
                    aria-hidden="true"
                    height="16"
                    version="1.1"
                    viewBox="0 0 14 16"
                    width="14"
                    class="icon-issue pull-left"
                    v-else
                    v-bind:class="{'issue-open': issue.state == 'open', 'issue-closed': issue.state == 'closed' }"
                >
                    <path d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
                </svg>
                <p>
                    <span class="repo">[[ issue.state ]] [[ issue.repository_url | repo-name ]]</span>
                    <span class="title">[[ issue.title ]]</span>
                    <span v-for="label in issue.labels" class="label" v-bind:style="{ 'background-color': '#'+label.color }">
                        [[ label.name ]]
                    </span>
                </p>
                <p class="infos">
                    #[[ issue.number ]] opened on [[ issue.created_at ]] by [[ issue.user.login ]]
                </p>
            </a>
        </div>
    </div>

</div>
</script>
