<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{% block page_title %}{% endblock %}</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" type="text/css" href="/bundles/apimock/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>{% block title %}{% endblock %}</h1>
            <div class="main">{% block body %}{% endblock %}</div>
        </div>
    </body>
</html>
